.Header {
  display:flex;
  position:sticky;
  top:0;
  z-index:1;
  background-color: rgba(0, 0, 0, 0.8);
  height:56px;
  align-items: center;
  margin-bottom:15px;
  justify-content: space-around;
  width: 100%;
}
.Header .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex:1;
  margin: 0 30px;
  gap:10px;
}
.Header .header-content .logo {
  /* width: 100px; */
  margin-left: 0px;
}
.Header .header-content .logo svg {
  height: 30px;
  width: 180px;
  
}
.Header .header-content .menu {
  margin:0 25px;
}
.Header .header-content .menu ul{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 0;
}
.Header .header-content .menu li{
  display:inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-shrink: 0;
}
.Header .header-content .menu li a{
  text-decoration: none;
  color: gray;
}
.Header .header-content .menu li a:hover{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width:840px) {
  .Header .header-content .menu {
    display:none;
    width: 100%;
    /* align-self: flex-end; */
  }
  
  .Header .header-content {
    margin: 0 10px;
  }
}
@media only screen and (max-width:490px) {
  .Header .header-content .menu {
    display:none;
  }
  .Header .header-content .search-bar {
    display:none;
  }
}
/* @media only screen and (min-width:1300px) {
  .Header {

  }
} */