body {
  background-color: #000000;
  color: white;
  display:flex;
  align-items: center;
}
body::-webkit-scrollbar {
  background-color: grey;
}
.App {
  justify-content: center;
  display:flex;
  flex-direction: column;
  /* padding: 0 20px; */
  width: 100%;
}
main {
  padding: 0 30px;
}
/* @media screen and (max-width:768px) {
  .App {
    width:100%;
  }
}
@media screen and (min-width:768px) and (max-width:1200px) {
  .App {
    width:768px;
  }
}*/
/* @media screen and (min-width:1200px) {
  main {
    margin: 0 200px

  } */
/* }  */