html,
body {
  background-color: #000000;
  z-index: -1000;
  color: white;
  display: flex;
  /* align-items: center; */
  width: 100%;
  min-height: 100%;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}
body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
  background-color: #505050;
  padding: 10px;
  border-radius: 5px;
}
.App {
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  /* padding: 0 20px; */
  width: 100%;
  min-height: 100%;
}
main {
  display: flex;
  padding: 0 30px;
  flex-grow: 2;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  main {
    padding: 0 10px;
  }
}
/*
@media screen and (min-width:768px) and (max-width:1200px) {
  .App {
    width:768px;
  }
}*/
/* @media screen and (min-width:1200px) {
  main {
    margin: 0 200px

  } */
/* }  */
